.wrapper-map{
width: 100%;
max-width: 1340px;
height: 700px;
}
.map-title{
text-align: center;
padding: 20px 0 20px 0;
}
.map{
margin-left: 7%;
position: relative;
}
.map img{
width: 590px;
height: 540px;
margin-left: 22%;
}
svg{
position: absolute;
top: 0;
left:0;
}

.warsaw{
fill: orange;
opacity: 0.1;
transition: .5s ease-in-out;
transform: translate(249px,-8px);
position: relative;
}
.warsaw:hover{
opacity: 0.9;
cursor: pointer;
}
.link-warsaw{
position: relative;
}
.link{
position: absolute;
top: 230px;
right:540px;
opacity: 0.3;
color: rgba(0,0,0,0.8);
}
